# Dependencies
/vendor
/node_modules

# Environment variables
.env

# IDE files
.idea/
.vscode/

# System Files
.DS_Store
Thumbs.db

# Database configuration
config.php

# Uploaded files
/uploads/*
!uploads/.gitkeep
